<movies-container title="Populars" [movies$]="popularMovies$"></movies-container>
<movies-container title="Top Rated" [movies$]="topRatedMovies$"></movies-container>
<movies-container title="Up Coming" [movies$]="upcomingMovies$"></movies-container>
<movies-container title="Sience Fiction" [movies$]="scienceFictionMovies$"></movies-container>
<movies-container title="Action" [movies$]="actionMovies$"></movies-container>
<movies-container title="Comedy" [movies$]="comedyMovies$"></movies-container>
<movies-container title="Horror" [movies$]="horrorMovies$"></movies-container>

